* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;

    /* overflow-x: hidden */
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(netflix-backgrounf.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    position: relative;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-left: 200px;
    margin-right: 200px;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    height: 35px;
    width: 90px;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}

.button-header {
    display: flex;
}

.langauage-btn {
    height: 33px;
    width: 130px;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;

}

.langauage-btn img {
    width: 10px;
    margin-left: 15px;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 50px;
    font-weight: 550;
    max-width: 650px;
}

.header-content h2 {
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 20px;
}

.email-signup {
    margin-top: 30px;
}

.email-signup input {
    height: 53px;
    width: 350px;
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 15px;
    font-size: large;
    color: whitesmoke;
}

.email-signup button {
    height: 56px;
    width: 200px;
    background: #db0001;
    color: white;
    border: 0;
    border-radius: 4px;
    margin-left: 10px;
    font-weight: 400;
}

.features {
    width: 100%;
    /* padding: 50px 12%; */
    font-size: 22px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;

}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
    width: 50%;
    padding: 50px 8%;
}

.img-col {
    padding: 50px 8%;
    flex-basis: 50%;
    margin-bottom: 20px;
    width: 50%;
}

.features h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.row img {
    height: 350px;
    width: 500px;
    margin-right: 20px;
}

.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-weight: 500;
    font-size: 50px;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
    ;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    font-weight: bold;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.45s, padding 0.45s;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

.faq small {
    font-size: 25px;
}

.email-signup2 {
    text-align: center;
    padding: 10px auto;
    margin-bottom: 50px;

}

.email-signup2 small {
    font-size: 30px;
}

.footer-border {
    /* height: 4px; */
    border-top: 8px solid grey;
}

footer {
    /* margin: 50px auto; */
    margin-top: 60px;
    margin-left: 200px;
    width: 100%;
    max-width: 750px;
    ;


}

footer p {
    font-size: 18px;
    /* margin-left: 50px; */

}

.footer-pannellink {
    color: white;
    display: flex;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

ul a {
    display: block;
    justify-content: space-between;
    font-size: 1rem;
    margin-top: 15px;
    color: #dddddd;

}

footer button {
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
}

.mesagefromauthor {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 70px;
}

.border {
    border: 4px solid grey;
    margin: 4px 0;
}

.features .border {
    border: 4px solid grey;
    margin: 4px 0;
}

/* Mobile-Friendly Navigation */
@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .button-header {
        margin: 20px 0;
    }

    .langauage-btn {
        margin: 10px 0;
    }

    .header-content {
        margin-top: 50px;
    }

    .header-content h1 {
        font-size: 40px;
    }

    .features h2 {
        font-size: 35px;
    }

    .row img {
        width: 100%;
        margin-right: 0;
    }
}
/* Mobile-Friendly Footer */
@media only screen and (max-width: 768px) {
    footer {
        margin: 20px 0;
        margin-left: 0; /* Remove left margin on smaller screens */
    }

    .footer-pannellink {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    ul {
        margin-top: 10px; /* Adjust spacing between list items */
    }
}



/* --------------------------------------------------------THE END----------------------------------------------------------- */
